@import "../../style/variable";

.filter-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 16px;
  color: $main-title-color !important;

  a {
    color: $primary-color;
    font-weight: 500;
  }
}

.filter-head:first-child {
  // font-size: 16px;
  // font-weight: 400;
  // line-height: 24px;
  // letter-spacing: 0em;
}

.filter-head:last-child {
  // font-size: 16px;
  // font-weight: 500;
  // line-height: 24px;
  // letter-spacing: 0em;
}
.filter-elements {
  .ant-collapse {
    // border-left: 0;
    // border-right: 0;
    border: none;
    border-radius: 0 !important;
    background-color: transparent;

    &-header {
      padding-left: 0 !important;
      padding-right: 0 !important;
      flex-direction: row-reverse;
      color: $sub-title-secondary !important;
      background-color: transparent !important;
      span {
        vertical-align: middle;
      }

      .badge {
        margin-left: 5px;
      }
    }
    &-expand-icon {
      padding-inline-end: 0 !important;
    }

    &-item {
      border-radius: 0 !important;
      .ant-collapse-content-active {
        border-top: 0px;
        max-height: 256px;
        overflow-y: auto;
      }
    }

    &-item-active {
      border: 0 !important;
    }

    &-content-box {
      padding: 0 !important;
    }
  }

  .filter-checkbox {
    display: flex;
    flex-direction: column;
    .ant-checkbox {
      color: $primary-text-color;
    }
  }
}
