header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9fafe;
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.heder-menu-items {
  display: flex;
  flex: 5;
}
