$primary-color: #0069ff;

$main-title-color: #031b4e;
$sub-title-secondary: #4d5b7c;
$primary-text-color: #081b4b;
$secondary-text-color: $sub-title-secondary;
$white-text-color: #e3e8f4;

$bg-white: #f9fafe;
$white: $bg-white;
$blue-cylindrical: #7bdeff;

$line-color: #c0c2d3;
