.top-header {
  margin: 48px 0;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-logo {
  margin-left: -8px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
